@model _3101_tarea1_mvc.Models.MatriculaModel

@{
    ViewData["Title"] = "Gestión de Matricula";
}

<h1>Detalle de matricula</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdEstudianteNavigation.Nombre)
        </dt>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdEstudianteNavigation.PrimerApellido)
        </dt>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdEstudianteNavigation.SegundoApellido)
        </dt>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdEstudianteNavigation.Identificacion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdEstudianteNavigation.Nombre)
        </dd>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdEstudianteNavigation.PrimerApellido)
        </dd>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdEstudianteNavigation.SegundoApellido)
        </dd>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdEstudianteNavigation.Identificacion)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Guardar</a> |
    <a asp-action="Index">Regresar</a>
</div>
