@model IEnumerable<_3101_tarea1_mvc.Models.MatriculaModel>

@{
    ViewData["Title"] = "Gestión de Matricula";
}

<h1>Matriculas</h1>

<p>
    <a asp-action="Create">Crear Matricula</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdEstudianteValue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreEstudiante)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fecha)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdEstudianteValue)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreEstudiante)
                </td>
                <td>
                    <a asp-controller="MatriculaDetalle" asp-action="Create" asp-route-id="@item.Id">Agregar curso</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Ver detalle</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
