@model _3101_tarea1_mvc.Models.ReporteModel

@{
    ViewData["Title"] = "Reportes";
}

<h1>Reportes</h1>
<hr />
<ul>
    <li><a asp-controller="Reporte" asp-action="ReporteEstudiantes">Reporte de estudiantes</a></li>
    <li><a asp-controller="Reporte" asp-action="ReporteCursos">Reporte de cursos</a></li>
</ul>

<br />
<br />
<h1>Estadísticas</h1>
<hr />
<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ingreso)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ingreso)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CursosMatriculados)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CursosMatriculados)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PctCursosMatriculados)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PctCursosMatriculados)
        </dd>
    </dl>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
