@model IEnumerable<_3101_tarea1_mvc.Models.ReporteEstudiantesModel>

@{
    ViewData["Title"] = "Reporte de estudiantes";
}

<h1>Reporte de estudiantes</h1>

@if (ViewBag.mensaje != null)
{
    <h4>@ViewBag.mensaje</h4>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Codigo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreCurso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreCompleto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Codigo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreCurso)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreCompleto)
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    <a asp-action="ReporteEstudiantes">Regresar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
