@model _3101_tarea1_mvc.Models.CarreraModel

@{
    ViewData["Title"] = "Gestión de Carreras";
}

<h1>Detalle de Carrera @Html.DisplayFor(model => model.Nombre)</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Codigo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Codigo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NombreEscuela)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdEscuela)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NombreEscuela)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Regresar</a>
</div>
